# 176. Second Highest Salary

<br>

```
Write a SQL query to get the second highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
For example, given the above Employee table, the query should return 200 as the second highest salary. If there is no second highest salary, then the query should return null.

+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
```

```mysql
# Write your MySQL query statement below

SELECT p.FirstName, p.LastName, a.City, a.State
FROM Person p
    LEFT JOIN Address a ON p.PersonId = a.PersonId
```