# 180. Consecutive Numbers

<br>


```
Write a SQL query to find all numbers that appear at least three times consecutively.

+----+-----+
| Id | Num |
+----+-----+
| 1  |  1  |
| 2  |  1  |
| 3  |  1  |
| 4  |  2  |
| 5  |  1  |
| 6  |  2  |
| 7  |  2  |
+----+-----+
For example, given the above Logs table, 1 is the only number that appears consecutively for at least three times.

+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+
```

```mysql
SELECT DISTINCT L1.num AS ConsecutiveNums 
FROM Logs AS L1
    INNER JOIN Logs AS L2 ON L1.Id = L2.Id + 1
    INNER JOIN Logs AS L3 ON L1.Id = L3.Id + 2 
WHERE L1.num = L2.num AND L2.num = L3.num
```
<hr>

```mysql
SELECT DISTINCT Num AS ConsecutiveNums
FROM Logs
WHERE (Id + 1, Num) IN (SELECT * FROM Logs) 
    AND (Id + 2, Num) IN (SELECT * FROM Logs);
```
<hr>

```MYSQL
SELECT DISTINCT L1.Num AS ConsecutiveNums 
FROM Logs AS L1, Logs AS L2, Logs AS L3
WHERE L1.Num = L2.Num 
    AND L2.Num = L3.Num 
    AND L1.Id = L2.Id - 1 
    AND L2.Id = L3.Id - 1;

```
<hr>

```mysql
SELECT DISTINCT L.NUM AS ConsecutiveNums
FROM (
    SELECT Num
         , LEAD (NUM, 1) OVER (ORDER BY Id) AS Num2
         , LEAD (NUM, 2) OVER (ORDER BY Id) AS Num3
    FROM Logs
    ) L
WHERE L.NUM = L.NUM2 AND L.NUM2 = L.NUM3
```
<hr>

```mysql
SELECT distinct ConsecutiveNums 
FROM (
    SELECT  Num AS ConsecutiveNums,
            CASE 
                WHEN @prev = Num THEN @count := @count + 1 ELSE @count := 1
            END AS count,
            @prev := Num
    FROM (
        SELECT @prev := 0, @count := 0
        ) as pre, Logs l
) as Consecutive
WHERE count >= 3
```