# 196. Delete Duplicate Emails

<br>


```
Write a SQL query to delete all duplicate email entries in a table named Person, keeping only unique emails based on its smallest Id.

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
Id is the primary key column for this table.
For example, after running your query, the above Person table should have the following rows:

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
Note:

Your output is the whole Person table after executing your sql. Use delete statement.
```

```mysql
DELETE
FROM Person
WHERE Id NOT IN (
SELECT SUB.min_id
FROM
(SELECT MIN(Id) AS min_id
FROM Person
GROUP BY Email
) SUB
)
```

```MYSQL
DELETE P
FROM PERSON AS P
INNER JOIN PERSON AS S ON P.Email = S.Email
WHERE P.Id > S.Id
```